<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <i class="fas fa-clipboard-list"></i>
            <ion-label>Inpsection</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <i class="fas fa-warehouse"></i>
            <ion-label>Inventory</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <i class="fas fa-search-dollar"></i>
            <ion-label>Lost & Found</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4">
           <i class="fas fa-building"></i>
            <ion-label>Housekeeping</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
