<ion-header>
  <ion-toolbar>
    <ion-title>
      Bedding
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell class="d-print-none" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="d-print-none" mdbWavesEffect *matCellDef="let row" (click)="selection.toggle(row)">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let value of dataDisplayColumns" matColumnDef="{{value}}">
      <mat-header-cell *matHeaderCellDef [ngClass]="{'d-print-none': value === 'edit'}">
        {{value | uppercase}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="{'d-print-none': value === 'edit'}">
                <span class="font-weight-bold" [ngClass]="{'green-text': element.status ==='clean', 'red-text': element.status === 'not done'}">
                  {{value === 'status' ? '' : element[value]}}
                  <span *ngIf="value === 'status'" style="font-size: 30px;">
                    <i *ngIf="element[value] === 'clean'; else notDone" class="fas fa-check-circle"></i>
                    <ng-template #notDone><i class="fas fa-times-circle"></i></ng-template>
                  </span>
                </span>

        <div *ngIf="selection.selected.length == 0" class="d-print-none">
          <ion-button mdbBtn class="edit-button z-depth-1-half" type="button" mdbWavesEffect
                  (click)="changeRoomStatus(element)"
                  *ngIf="value === 'edit'"
                  [color]="element.status === 'not done' ? 'primary': 'tertiary'">
            <ion-ripple-effect></ion-ripple-effect>
            <i *ngIf="element.status === 'not done'" class="far fa-check-square"></i>
            <i *ngIf="element.status === 'clean'" class="fa fa-undo" aria-hidden="true"></i>
          </ion-button>
        </div>

      </mat-cell>

    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--Select Buttons-->
  <div class="select-buttons" *ngIf="selection.selected.length > 0">
    <button mdbBtn class="select-button z-depth-1-half" type="button"
            (click)="changeSelectRoomStatus('clean')"
            gradient="tempting-azure" mdbWavesEffect>
      Clean Selected
    </button>
    <hr class="my-4">
    <button mdbBtn class="select-button z-depth-1-half" type="button"
            (click)="changeSelectRoomStatus('not done')"
            gradient="rainy-ashville" mdbWavesEffect>
      Undo Selected
    </button>
  </div>
  <!--Select Buttons End-->

</ion-content>
